<%- include('partials/header') %>

<p>Category: <%= docs[0].category %></p>

<hr>

<% docs.forEach((element)=>{ %>

<p><%= element.title %></p>
<p><%= element.content %></p>

<hr>
<% }) %>

<%- include('partials/footer') %>
